<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Suez.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Suez.Properties.Settings.hwmdbConnectionString" connectionString="Data Source=DESKTOP-203834V\SQLEXPRESS;Initial Catalog=hwmdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Suez.Properties.Settings>
            <setting name="Input" serializeAs="String">
                <value />
            </setting>
            <setting name="Output" serializeAs="String">
                <value />
            </setting>
            <setting name="Server" serializeAs="String">
                <value />
            </setting>
            <setting name="Database" serializeAs="String">
                <value />
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Timer" serializeAs="String">
                <value />
            </setting>
            <setting name="Check" serializeAs="String">
                <value />
            </setting>
            <setting name="Error" serializeAs="String">
                <value />
            </setting>
            <setting name="CSV" serializeAs="String">
                <value />
            </setting>
        </Suez.Properties.Settings>
    </userSettings>
</configuration>